ENV_STATE
SECRET_KEY

DB_NAME
DB_USER
DB_PASSWORD
DB_HOST
DB_PORT

POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_DB

DJANGO_SUPERUSER_USERNAME
DJANGO_SUPERUSER_EMAIL
DJANGO_SUPERUSER_PASSWORD

CELERY_BROKER_URL
CELERY_RESULT_BACKEND

API_KEY_COINMARKETCAP
URL_COINMARKETCAP
URL_BLOCKCHAIR

BTC_BLOCK_HEIGHT
BTC_BLOCK_HASH
BTC_BLOCK_INFO
